<h2>Trabajos</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illo a
  magnam culpa. Aspernatur natus blanditiis dolorem cum, cumque ratione
  cupiditate molestiae, saepe eum sit maiores! Quo excepturi praesentium minima!
</p>

<table style="border: 1px solid; width: 100%;">
  <thead style="background-color: silver;">
    <tr>
      <th>#</th>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>dominio.com</td>
    </tr>
    <tr>
      <td>2</td>
      <td>otrodominio.com</td>
    </tr>
  </tbody>
</table>
