<h2>Inicio</h2>
<h3>Subtitulo 1</h3>
<p>
  <strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong>
  Dolorem laudantium vero voluptatum provident laboriosam nam dolor rem quas,
  nostrum ullam cumque aspernatur sint quia natus, quibusdam optio, temporibus
  id consequuntur?
</p>
<h3>Subtitulo 2</h3>
<h4><em>Subtema cursiva</em></h4>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem laudantium
  vero voluptatum provident laboriosam nam dolor rem quas, nostrum ullam cumque
  aspernatur sint quia natus, quibusdam optio, temporibus id consequuntur?
</p>
